<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.howwelldoyouknow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings" />
        <activity android:name=".ChooseColour" />
        <activity android:name=".BeginGame" />
        <activity android:name=".YourTurn1" />
        <activity android:name=".Guess1" />
        <activity android:name=".YourTurn2" />
        <activity android:name=".YourTurn3" />
        <activity android:name=".Guess2" />
        <activity android:name=".Page" />
        <activity android:name=".EndScreen" />
        <activity android:name="com.example.howwelldoyouknowonline.HostGame" />
        <activity android:name="com.example.howwelldoyouknowonline.HostSettings" />
        <activity android:name="com.example.howwelldoyouknowonline.EnterNickname" />
        <activity android:name="com.example.howwelldoyouknowonline.JoinGame" />
        <activity android:name="com.example.howwelldoyouknowonline.EnterPin" />
        <activity android:name="com.example.howwelldoyouknowonline.Error" />

    </application>

</manifest>