<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.howwelldoyouknow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings" android:screenOrientation="portrait"/>
        <activity android:name=".ChooseColour" android:screenOrientation="portrait"/>
        <activity android:name=".BeginGame" android:screenOrientation="portrait"/>
        <activity android:name=".YourTurn1" android:screenOrientation="portrait"/>
        <activity android:name=".Guess1" android:screenOrientation="portrait"/>
        <activity android:name=".YourTurn2" android:screenOrientation="portrait"/>
        <activity android:name=".YourTurn3" android:screenOrientation="portrait"/>
        <activity android:name=".Guess2" android:screenOrientation="portrait"/>
        <activity android:name=".Page" android:screenOrientation="portrait"/>
        <activity android:name=".EndScreen" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.HostGame" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.HostSettings" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.EnterNickname" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.JoinGame" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.EnterPin" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.Error" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.OnlineTurn1" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.OnlineTurn2" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.OnlineGuess1" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.OnlineGuess2" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.OnlineGuess3" android:screenOrientation="portrait"/>
        <activity android:name="com.example.howwelldoyouknowonline.OnlineTurn3" android:screenOrientation="portrait"/>

    </application>

</manifest>